@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#020617;
  color:white;
}

a{
  text-decoration:none;
  color:inherit;
}

section{
  padding:70px 8%;
}

h1{
  font-size:60px;
}

h2{
  font-size:38px;
  margin-bottom:25px;
}

h3{
  font-size:24px;
}

p{
  color:#cbd5e1;
  line-height:1.8;
}

ul{
  padding-left:20px;
}

button{
  transition:0.3s;
}

button:hover{
  transform:translateY(-3px);
}

.card{
  background:#0f172a;
  border:1px solid #1e293b;
  padding:25px;
  border-radius:15px;
  margin-bottom:20px;
}

@media (max-width:768px){

  section{
    padding:50px 20px;
  }

  h1{
    font-size:34px;
  }

  h2{
    font-size:28px;
  }

  h3{
    font-size:20px;
  }

  p{
    font-size:15px;
  }
}